@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

html{
    background-color: papayawhip;
    font-family: 'Young Serif';
}

body {
    margin: 4rem;
}

h1 {    
    color: darkred;
}

main {  
    color: saddlebrown;
}
